
@font-face{
  font-family:'myfont' ;  /* 字体名自定义即可 */
  src:url('https://cdn.jsdelivr.net/gh/xinhecuican/xinhecuican.github.io/fonts/小楷字体SJ2.ttf');/* 字体文件路径 */
  font-display : swap;
  font-weight: 500;
}

@font-face
{
	font-family: 'titlefont';
	src:url('https://cdn.jsdelivr.net/gh/xinhecuican/xinhecuican.github.io/fonts/Snell-Roundhand字体.ttf');
	font-display: swap;
}
/*修改页面宽度*/
.layout
{
	max-width: 1270px;
}

/*修改代码框样式*/
#article-container figure.highlight
{
	border: 1px solid #00a1ff;
	border-radius: 8px;
}

#article-container .highlight-tools
{
	background-color: rgba(73, 177, 245, .3);
}

/*图表样式定义*/
.table-wrap tr:nth-child(even)
{
	background: rgba(73, 177, 245, 0.1) ;
}

.table-wrap tr:hover
{
	background-color: #bfc6c7;
}

h1#site-title
{
	font-family: titlefont;
}

a#site-name
{
	font-family: titlefont;
}

#footer {
    background: transparent;
}

@media screen and (min-device-width: 600px)
{

	#page-header {
	/* 采用透明的方式取消，最后一个0表示透明 */
	background-color: rgba(255, 255, 255, 0);
	}
	#aside-content .card-widget
	{
		background: rgba(255, 255, 255, .0);
	}
	/* 所有背景（包括首页卡片、文章页、页面页等） */
	#recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout>#page, .layout>#post, .read-mode .layout_post>#post{
		/* 以下代表白色透明度为0.3 */
		background: rgba(255,255,255,.0);
	}
}


style.
  @media only screen and (max-width: 767px){
    #sidebar_search_box input[type=text]{width:calc(100% - 24px)}
  }
  
  /* 博主昵称颜色 */
  .author-info__name {
      color: #ff7242;
  }
  
  /* a标签默认颜色 */
  
  #article-container a {
      color: #00c4b6;
      text-decoration: none;
  }
  
  /* 鼠标悬停时的颜色 */
  
  #article-container a:hover {
      color: #e58a8a;
      text-decoration: none;
  }
  /*a标签颜色*/
  a {
      color: #00c4b6;
  }
  
  /* 鼠标图标 */
  
  body {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/Jkll8I.png), auto;
  }
  
  
  /*a标签*/
  
  a:hover {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /*按钮*/
  
  button:hover {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  #rightside>div>button,
  #rightside>div>a {
      display: block;
      margin-bottom: 2px;
      width: 30px;
      height: 30px;
      color: var(--btn-color);
      text-align: center;
      font-size: 16px;
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /* 打赏 */
  
  .post-reward .reward-button {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /* 文章标签 */
  
  .layout_post .tag_share .post-meta__tags {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /* 评论区 */
  
  .vcol * {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  .v[data-class=v] .vicon {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  .v[data-class=v] .vbtn {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /* 回复 */
  
  .vat {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /*i标签*/
  
  i:hover {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /*up酱*/
  
  #upj:hover {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /*页脚a标签*/
  
  #footer-wrap a:hover {
      text-decoration: none;
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /*分页器*/
  
  #pagination .page-number:hover {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  /* 分页器的三个点(...) */
  .space {
      color: #00c4b6;
  }

/* 滚动条 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6ea6ff;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #e58a8a;
}

#web_bg {
	
  background: -webkit-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );

}