#footer {
    background: transparent;
}

/* 所有背景（包括首页卡片、文章页、页面页等） */
#recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表白色透明度为0.3 */
    background: rgba(255,255,255,.9);
	
	.layout_page {
	  opacity: 0.9;
	}
	
	.card-folder-animation {
	  color: rgba(107, 72, 255, .3);
	}
	/* 最近文章 */
	.card-history-animation {
	  color: rgb(34, 218, 241);
	}
	/* 天气 */
	.card-umbrella-animation {
	  color: rgba(255, 80, 47, .3);
	}
	/* 标签 */
	.card-tags-animation {
	  color: rgba(13, 63, 103, .3);
	}
	
}


style.
  @media only screen and (max-width: 767px){
    #sidebar_search_box input[type=text]{width:calc(100% - 24px)}
  }
  
  /* 博主昵称颜色 */
  .author-info__name {
      color: #ff7242;
  }
  
  /* a标签默认颜色 */
  
  #article-container a {
      color: #00c4b6;
      text-decoration: none;
  }
  
  /* 鼠标悬停时的颜色 */
  
  #article-container a:hover {
      color: #e58a8a;
      text-decoration: none;
  }
  /*a标签颜色*/
  a {
      color: #00c4b6;
  }
  
  /* 鼠标图标 */
  
  body {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/Jkll8I.png), auto;
  }
  
  
  /*a标签*/
  
  a:hover {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /*按钮*/
  
  button:hover {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  #rightside>div>button,
  #rightside>div>a {
      display: block;
      margin-bottom: 2px;
      width: 30px;
      height: 30px;
      color: var(--btn-color);
      text-align: center;
      font-size: 16px;
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /* 打赏 */
  
  .post-reward .reward-button {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /* 文章标签 */
  
  .layout_post .tag_share .post-meta__tags {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /* 评论区 */
  
  .vcol * {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  .v[data-class=v] .vicon {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  .v[data-class=v] .vbtn {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /* 回复 */
  
  .vat {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /*i标签*/
  
  i:hover {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /*up酱*/
  
  #upj:hover {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /*页脚a标签*/
  
  #footer-wrap a:hover {
      text-decoration: none;
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  
  
  /*分页器*/
  
  #pagination .page-number:hover {
      cursor: url(https://cdn.jsdelivr.net/gh/lete114/CDN@1.0/Use/JkuClT.png), auto;
  }
  /* 分页器的三个点(...) */
  .space {
      color: #00c4b6;
  }

/* 滚动条 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #e58a8a;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #e58a8a;
}

#web_bg {
  background: -webkit-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -o-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
}